/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
} */
/* ---- CARD CONTAINER ---- */
/* .card-container {
  display: flex; 
  justify-content: center; 
  align-items: stretch; 
  flex-wrap: wrap; 
  gap: 20px; 
} */

/* ---- CARD ---- */
/* .card {
  background: #fff;
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 15px;
  color: #444;
}

.btn {
  align-self: flex-start;
  padding: 8px 12px;
  background: #1e293b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.5;
} */

/* ---- RESPONSIVE ---- */
/* @media (max-width: 600px) {
  .card-container {
    justify-content: flex-start; 
  }
} */

/* .box{
    color: white;
    margin: 40px;
} */
/* .box1{
    padding: 40px;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background-color: red;
    margin-bottom: 40px;
} */
/* .box2{
    padding: 40px;
    width: 100px;
    height: 100px;
    border: 2px solid  black;
    background-color: blue;
    
} */

/* .container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: grey;
}
.box{
    border: 2px solid black;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 200px;
    right: 200px;
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 30px;
} */


.container{
    /* padding: 20px; */
    /* line-height: normal; */
    background-color: #ccc;
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-decoration: underline;
    background-color: brown;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    /* margin: 0px; */
    padding: 40px;
    padding-inline: 20px;
    margin-bottom: 40px;
    position: sticky;
    top: 0px;
}
p{
    margin: 20px;
    padding: 10px;
    /* line-height: 5px; */
    margin-bottom: 20px;
}
.fixed{
    position: fixed;
    bottom: 50px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
}