/* .container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    gap: 10px;
    padding: 20px;
}
.container div{
    border: 1px solid black;
    background-color: aquamarine;
    text-align: center;
    height: 50px;
    padding: 20px;
} */
/* 
.grid-container{
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}
.grid-item{
    border: 1px solid black;
    background-color:cadetblue;
    text-align: center;
    padding: 20px;
}

#box1{
    grid-column: 1/3;
    grid-row: 1/3;
}

#box2{
    grid-column: 3/4;
    grid-row: 1/2;
}

#box3{
    grid-column: 3/4;
    grid-row: 2/3;
}

#box4{
    grid-column: 1/2;
    grid-row: 3/4;
}

#box5{
    grid-column: 2/3;
    grid-row: 3/4;
}

#box{
    grid-column: 3/4;
    grid-row: 3/4;
}

@media(max-width:600px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        background-color: lightyellow;
    }

    .grid-item{
        grid-column: auto;
        grid-row: auto;
    }
} */

/* button{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background 0.3s, transform 0.3s;
}
button:hover{
    background-color: green;
    /* cursor: pointer; */
    /* transform: scale(1.1);
} */ 

/* .box{
    width: 100px;
    height: 100px;
    background-color: tomato;
    color: black;
    transition-property: backgound-color;
    transition-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: yellow;
    /* transform: scale(1.1); */
/* } */ 

/* .box{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    color: black;
    display: inline-block;
    padding: 20px;
    transition: transform 0.3s;
    text-align: center;
    gap: 10px;
}

.translate:hover{
    transform: translate(30px, 20px);
}
.rotate:hover{
    transform: rotate(360deg);
}
.scale:hover{
    transform: scale(1.5);
}
.skew:hover{
    transform: skew(20deg, 10deg);
} */

/* body{
    margin: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.spinner{
    width: 100px;
    height: 100px;
    border: 5px solid #ccc;
    border-top: 5px solid #007bff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.fade-box{
    width: 100px;
    height: 100px;
    background: mediumseagreen;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeInOut 2s infinite;
}

@keyframes fadeInOut{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}